<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thieu.tool.mappers.CategoryMapper">
    <resultMap id="categoryMap" type="com.thieu.tool.models.Category">
        <id column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_description" property="categoryDescription"/>
        <result column="category_code" property="categoryCode"/>
        <result column="category_image" property="categoryImage" jdbcType="BLOB"/>
        <result column="category_type" property="categoryType"/>
        <result column="is_active" property="isActive"/>
        <result column="create_date" property="createDate"/>
        <result column="create_by" property="createBy"/>
        <collection property="categorySettings" ofType="com.thieu.tool.models.CategorySetting">
            <id column="category_setting_id" property="cateSettingId"/>
            <result column="setting_name" property="settingName"/>
        </collection>
        <collection property="categoryDetails" ofType="com.thieu.tool.models.CategoryDetails">
            <id column="category_detail_id" property="cateDetailsId"></id>
            <result column="category_detail_type" property="cateDetailsType"/>
            <association property="categorySetting" javaType="com.thieu.tool.models.CategorySetting">
                <result column="setting_name" property="settingName"/>
            </association>
        </collection>
    </resultMap>

    <select id="requestCategory" resultMap="categoryMap">
        select ct.category_id, ct.category_name, cs.setting_name, cd.category_detail_type
        from category ct, category_setting cs, category_details cd
        where ct.category_id = cs.category_id and cs.category_setting_id = cd.category_setting_id
    </select>





</mapper>