<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thieu.tool.mappers.ProductCategoryMapper">
    <resultMap id="productCategoryMap" type="com.thieu.tool.models.ProductCategory">
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="category_detail_id" property="categoryDetailId"/>
        <result column="category_detail_type" property="categoryDetailType"/>
        <result column="category_setting_id" property="categorySettingId"/>
        <result column="setting_name" property="settingName"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <select id="getScrumsFromProduct" resultMap="productCategoryMap" parameterType="java.lang.String">
        select pd.product_name, cd.category_detail_id, cd.category_detail_type, cs.category_setting_id, cs.setting_name, ct.category_name
        from products pd, category_details cd, category_setting cs, category ct
        where pd.category_detail_id = cd.category_detail_id and cd.category_setting_id = cs.category_setting_id
        and cs.category_id = ct.category_id and pd.product_name = #{productName}
    </select>
</mapper>